In [1]:
#1 . load this data in sql and in pandas with a relation in sql 
import pandas as pd
import sqlalchemy

In [2]:
!pip install pymysql

Requirement already satisfied: pymysql in c:\users\lokeshraj k p\anaconda3\lib\site-packages (1.0.2)

In [3]:
engine=sqlalchemy.create_engine('mysql+pymysql://root:ind100#meCind100#mec@localhost:3306/myqsql_pandas_task')

In [4]:
df1=pd.read_sql_table('superstore_usa',engine)

In [5]:
pd.set_option('display.max_columns', None)

In [6]:
df1

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,Product Sub-Category,Product Container,Product Name,Product Base Margin,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,Labels,Small Box,Avery 49,0.36,Central,Illinois,Addison,60101,5/28/2012,5/30/2012,1.32000,2,5.90,88525
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,Pens & Art Supplies,Wrap Bag,SANFORD Liquid Accent™ Tank-Style Highlighters,0.54,West,Washington,Anacortes,98221,7/7/2010,7/8/2010,4.56000,4,13.01,88522
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,Paper,Small Box,Xerox 1968,0.37,West,Washington,Anacortes,98221,7/27/2011,7/28/2011,-47.64000,7,49.92,88523
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,"Scissors, Rulers and Trimmers",Small Pack,Acme® Preferred Stainless Steel Scissors,0.56,West,Washington,Anacortes,98221,7/27/2011,7/28/2011,-30.51000,7,41.64,88523
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,Telephones and Communication,Small Box,V70,0.59,West,Washington,Anacortes,98221,7/27/2011,7/27/2011,998.20230,8,1446.67,88523
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
905,23623,Medium,0.01,6.68,6.92,360,Lindsay Shepherd,Regular Air,Small Business,Office Supplies,Paper,Small Box,Xerox 1898,0.37,West,California,Fresno,93727,1/1/2011,1/3/2011,-152.60680,11,75.24,87348
906,21862,Critical,0.02,348.21,40.19,360,Lindsay Shepherd,Delivery Truck,Small Business,Furniture,Tables,Jumbo Box,Bretford CR4500 Series Slim Rectangular Table,0.62,West,California,Fresno,93727,3/10/2012,3/12/2012,2528.64990,13,3664.71,87351
907,24828,High,0.00,4.98,0.80,360,Lindsay Shepherd,Regular Air,Small Business,Office Supplies,Paper,Wrap Bag,Rediform S.O.S. Phone Message Books,0.36,West,California,Fresno,93727,12/5/2012,12/6/2012,24.83310,7,35.99,87352
908,22778,Low,0.05,65.99,5.99,360,Lindsay Shepherd,Regular Air,Small Business,Technology,Telephones and Communication,Small Box,i1000,0.58,West,California,Fresno,93727,1/7/2013,1/11/2013,323.57304,9,519.30,87353
909,20248,Not Specified,0.08,125.99,4.20,361,Veronica Francis,Regular Air,Small Business,Technology,Telephones and Communication,Small Box,V3682,0.59,East,Maine,Bangor,4401,10/7/2011,10/9/2011,290.24712,11,1116.28,87350

In [7]:
df2=pd.read_sql_table('returns',engine)

In [8]:
df3=pd.read_sql_table('Users',engine)

In [9]:
df3

    Region  Manager
0  Central    Chris
1     East     Erin
2    South      Sam
3     West  William

In [10]:
#df1.to_sql('ss',engine,index=False)

In [11]:
#3 . Find out how return that we ahve recived and with a product id 
df2['Order ID'].count()

39

In [12]:
df2['Order ID']

0       65
1      612
2      614
3      678
4      710
5      740
6      775
7      833
8      902
9     3300
10    3456
11    3525
12    3589
13    3687
14    3777
15    3783
16    4006
17    4037
18    4230
19    4261
20    4391
21    4610
22    4738
23    4864
24    4960
25    5028
26    5059
27    5061
28    5189
29    5381
30    5414
31    5511
32    5699
33    6054
34    6241
35    6272
36    6498
37    6500
38    6502
Name: Order ID, dtype: int64

In [13]:
#4 . try  to join order and return data both in sql and pandas 
df4=df1.join(df2.set_index('Order ID'),on='Order ID',how='outer')

In [14]:
#5 . Try to find out how many unique customer that we have 
df4['Customer ID'].nunique()

286

In [15]:
df5=df4.join(df3.set_index('Region'),on='Region',how='outer')

In [16]:
#6 . try to find out in how many regions we are selling a product and who is a manager for a respective region
df5[['Region','Manager']].drop_duplicates().dropna()

        Region  Manager
0.0    Central    Chris
1.0       West  William
13.0      East     Erin
108.0    South      Sam

In [17]:
#7 . find out how many different differnet shipement mode that we have and what is a percentage usablity of all the shipment mode with respect to dataset 
df5['Ship Mode'].nunique()

3

In [18]:
# Percentage use of 'Regular Air'
(df5['Ship Mode'].value_counts()['Regular Air'])/(df5['Ship Mode'].count())

0.7296703296703296

In [19]:
# Percentage use of 'Express Air'
(df5['Ship Mode'].value_counts()['Express Air'])/(df5['Ship Mode'].count())

0.12197802197802197

In [20]:
# Percentage use of 'Delivery Truck'
(df5['Ship Mode'].value_counts()['Delivery Truck'])/(df5['Ship Mode'].count())

0.14835164835164835

In [21]:
#8 . Create a new coulmn and try to find our a diffrence between order date and shipment date
df5['Diff_order_ship_date']=pd.to_datetime(df5['Ship Date'])-pd.to_datetime(df5['Order Date'])

In [22]:
df5

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,Product Sub-Category,Product Container,Product Name,Product Base Margin,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,Status,Manager,Diff_order_ship_date
0.0,18606.0,Not Specified,0.01,2.88,0.50,2.0,Janice Fletcher,Regular Air,Corporate,Office Supplies,Labels,Small Box,Avery 49,0.36,Central,Illinois,Addison,60101.0,5/28/2012,5/30/2012,1.3200,2.0,5.90,88525,NaN,Chris,2 days
19.0,24844.0,Medium,0.09,78.69,19.99,14.0,Gwendolyn F Tyson,Regular Air,Small Business,Furniture,Office Furnishings,Small Box,Howard Miller 12-3/4 Diameter Accuwave DS ™ Wa...,0.43,Central,Minnesota,Prior Lake,55372.0,5/12/2010,5/14/2010,803.4705,16.0,1164.45,86838,NaN,Chris,2 days
20.0,24846.0,Medium,0.08,3.28,2.31,14.0,Gwendolyn F Tyson,Regular Air,Small Business,Office Supplies,Pens & Art Supplies,Wrap Bag,Newell 321,0.56,Central,Minnesota,Prior Lake,55372.0,5/12/2010,5/13/2010,-24.0300,7.0,22.23,86838,NaN,Chris,1 days
21.0,24847.0,Medium,0.05,3.28,4.20,14.0,Gwendolyn F Tyson,Regular Air,Small Business,Office Supplies,Pens & Art Supplies,Wrap Bag,Newell 351,0.56,Central,Minnesota,Prior Lake,55372.0,5/12/2010,5/13/2010,-37.0300,4.0,13.99,86838,NaN,Chris,1 days
22.0,24848.0,Medium,0.05,3.58,1.63,14.0,Gwendolyn F Tyson,Regular Air,Small Business,Office Supplies,Rubber Bands,Wrap Bag,"OIC Colored Binder Clips, Assorted Sizes",0.36,Central,Minnesota,Prior Lake,55372.0,5/12/2010,5/13/2010,-0.7100,4.0,14.26,86838,NaN,Chris,1 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6241,Returned,NaN,NaT
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6272,Returned,NaN,NaT
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6498,Returned,NaN,NaT
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6500,Returned,NaN,NaT
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6502,Returned,NaN,NaT

In [23]:
#9 . base on question number 8 find out for which order id we have shipment duration more than 10 days 
df5[df5['Diff_order_ship_date']> '10 days']['Order ID']

619.0    87215
Name: Order ID, dtype: int64

In [32]:
#10 . Try to find out a list of a returned order which sihpment duration was more then 15 days and find out that region manager as well
l=list(df5[(df5.Status=='Returned') & (df5.Diff_order_ship_date>'15 days')]['Manager'])
l

[]

In [25]:
#11 . Gorup by region and find out which region is more profitable 
df5.groupby('Region')['Profit'].sum().nlargest(1)

Region
West    79975.578418
Name: Profit, dtype: float64

In [26]:
#12 . Try to find out overalll in which country we are giving more didscount 
df5.groupby('State or Province')['Discount'].sum().nlargest(1)
df5.groupby('Region')['Discount'].sum().nlargest(1)

Region
West    16.99
Name: Discount, dtype: float64

In [27]:
#13 . Give me a list of unique postal code 
df5.loc[df5['Postal Code'].notnull(), 'Postal Code'] = df5.loc[df5['Postal Code'].notnull(), 'Postal Code'].apply(int)
df5['Postal Code'].unique()

array([60101., 55372., 68005., 62002., 75019., 62701., 60107., 77642.,
       75080., 77471., 78664., 75088., 60601., 66209., 66215., 66502.,
       66062., 76903., 78207., 60004., 76148., 60452., 76131., 76240.,
       78415., 60505., 66212., 48138., 74006., 75217., 77536., 63114.,
       60453., 60302., 60462., 50208., 66203., 55423., 55901., 55113.,
       78589., 66614., 67212., 60477., 60130., 60510., 98221., 91776.,
       95123., 59405., 59601., 59801., 92653., 92677., 92530., 92630.,
       90712., 93534., 90260., 97405., 97526., 97030., 97123., 97303.,
       98373., 98052., 94043., 92563., 94559., 97035., 95687., 94591.,
       97128., 97504., 98103., 84118., 84041., 93277., 94952., 80525.,
       80817., 98059., 99352., 98158., 94122., 84043., 84321., 85335.,
       90660., 84044., 84047., 84107., 80027., 81503., 80634., 80126.,
       80232., 87505., 86001., 85234., 85301., 80538., 80233., 80134.,
       98115., 91945., 94404., 97045., 97206., 85338., 86401., 93727.,
        2724.,  3110.,  8101.,  8109.,  7203.,  2907., 11787., 13210.,
       10012., 14150., 12180.,  2917., 10177.,  5401.,  4070.,  2331.,
        8830.,  8701.,  7470.,  7481.,  5201., 44708., 45231., 44105.,
        5451.,  6510.,  2038.,  1852.,  7110.,  4401.,  8861.,  4005.,
        7644.,  2129.,  1752.,  2067.,  3820.,  8618.,  7095.,  1510.,
        1106.,  1880.,  6360.,  6401.,  2664., 15122.,  5439.,  5403.,
        4092.,  7024.,  4011.,  4240.,  2474.,  2540.,  1580.,  3038.,
       13501., 11580.,  2021.,  7101., 17331., 12208., 44106., 43229.,
        6824.,  6111.,  7109.,  6226.,  6830.,  1069.,  6770.,  4073.,
        6855.,  2725., 21234., 21128., 21208., 20854.,  1007.,  7111.,
        8052., 21133.,  3045.,  7410., 44221.,  6478.,  7010.,  4101.,
        3246.,  2878.,  3101., 13601., 19406., 23834., 24153., 70056.,
       22102., 37664., 37918., 37086., 37087., 37804., 70802., 28227.,
       37922., 38109., 33772., 30297., 28204., 33181., 33132.,    nan])

In [28]:
#14 . which customer segement is more profitalble find it out . 
df5.groupby('Customer Segment')['Profit'].sum().nlargest(1)

Customer Segment
Corporate    71582.896068
Name: Profit, dtype: float64

In [29]:
#15 . try to find out the 10th most loss making product catagory .
df5.groupby('Product Category')['Profit'].sum().nsmallest(10)

Product Category
Furniture            -225.420141
Office Supplies     47343.036159
Technology         102147.093643
Name: Profit, dtype: float64

In [30]:
df5.groupby('Profit')['Product Category'].sum().iloc[-10]

'Technology'

In [31]:
#16 . Try to find out 10 top  product with highest margins 
df5.nlargest(10,'Product Base Margin')['Product Name']

241.0                                          Accessory27
250.0                                          Accessory27
221.0                     Belkin OmniView SE Rackmount Kit
784.0                                          Accessory27
848.0                    Sterling Rubber Bands by Alliance
659.0    Office Impressions Heavy Duty Welded Shelving ...
713.0                                          Accessory27
775.0                                          Accessory27
668.0                          Tennsco Commercial Shelving
159.0                   Iris® 3-Drawer Stacking Bin, Black
Name: Product Name, dtype: object